<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the books_init() hook (in hooks/books.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="books-ISBN-<%%VALUE(id)%%>" class="books-ISBN"><%%VALUE(ISBN)%%></td>
		<td id="books-Titulo_do_Livro-<%%VALUE(id)%%>" class="books-Titulo_do_Livro"><%%VALUE(Titulo_do_Livro)%%></td>
		<td id="books-Gênero_do_Livro-<%%VALUE(id)%%>" class="books-Gênero_do_Livro"><%%VALUE(Gênero_do_Livro)%%></td>
		<td id="books-Autor_do_Livro-<%%VALUE(id)%%>" class="books-Autor_do_Livro"><%%VALUE(Autor_do_Livro)%%></td>
		<td id="books-Quantidade-<%%VALUE(id)%%>" class="books-Quantidade text-right"><%%VALUE(Quantidade)%%></td>
		<td id="books-Data_de_Aquisição-<%%VALUE(id)%%>" class="books-Data_de_Aquisição"><%%VALUE(Data_de_Aquisição)%%></td>
		<td id="books-Edição-<%%VALUE(id)%%>" class="books-Edição"><%%VALUE(Edição)%%></td>
		<td id="books-Estante-<%%VALUE(id)%%>" class="books-Estante text-right"><%%VALUE(Estante)%%></td>
		<td id="books-Prateleira-<%%VALUE(id)%%>" class="books-Prateleira text-right"><%%VALUE(Prateleira)%%></td>
		<td id="books-Editora-<%%VALUE(id)%%>" class="books-Editora"><%%VALUE(Editora)%%></td>
