<!-- OK -->
		<td id="NewsPapers-Nome_do_Jornal-<%%VALUE(id)%%>" class="NewsPapers-Nome_do_Jornal"><%%SELECT%%><%%VALUE(Nome_do_Jornal)%%><%%ENDSELECT%%></td>
		<td id="NewsPapers-Data_de_Publicação-<%%VALUE(id)%%>" class="NewsPapers-Data_de_Publicação"><%%SELECT%%><%%VALUE(Data_de_Publicação)%%><%%ENDSELECT%%></td>
		<td id="NewsPapers-Data_de_Recebimento-<%%VALUE(id)%%>" class="NewsPapers-Data_de_Recebimento"><%%SELECT%%><%%VALUE(Data_de_Recebimento)%%><%%ENDSELECT%%></td>
		<td id="NewsPapers-Editora-<%%VALUE(id)%%>" class="NewsPapers-Editora"><%%SELECT%%><%%VALUE(Editora)%%><%%ENDSELECT%%></td>
